<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".secondsecreen"> </activity>
        <activity android:name=".thirdpage"> </activity>
        <activity android:name=".fourthpage"> </activity>
        <activity android:name=".mclarenc"> </activity>
        <activity android:name=".chiron"> </activity>
        <activity android:name=".pagani"> </activity>
        <activity android:name=".rolls"> </activity>
        <activity android:name=".porche"> </activity>
        <activity android:name=".vulcan"> </activity>
        <activity android:name=".grant"> </activity>
        <activity android:name=".konig"> </activity>
        <activity android:name=".scroll"> </activity>
        <activity android:name=".adapter"> </activity>
        <activity android:name=".item"> </activity>




    </application>

</manifest>